In [1]:
import pandas as pd
import numpy as np

In [2]:
#Task 1: Loading the dataset and displaying it.
df = pd.read_csv("assets/Amazon_Sale_Report.csv")
df.head(10)

/var/folders/my/hsss9j1j58zgjjlg548zbmxw0000gp/T/ipykernel_14630/3713852039.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("assets/Amazon_Sale_Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN

In [3]:
# Task 2: Cleaning the dataset
print(df.dtypes)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [4]:
print(df['Size'].unique())

['S' '3XL' 'XL' 'L' 'XXL' 'XS' '6XL' 'M' '4XL' '5XL' 'Free']

In [5]:
# for cols in df.columns:
#     print(cols)
#     print(df[cols].unique())
#     print('--' *40)
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")
print(df['ship-state'].unique())

index: 128975
Order ID: 120378
Date: 91
Status: 13
Fulfilment: 2
Sales Channel : 2
ship-service-level: 2
Style: 1377
SKU: 7195
Category: 9
Size: 11
ASIN: 7190
Courier Status: 3
Qty: 10
currency: 1
Amount: 1410
ship-city: 8955
ship-state: 69
ship-postal-code: 9459
ship-country: 1
promotion-ids: 5787
B2B: 2
fulfilled-by: 1
Unnamed: 22: 1
['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH'
 'CHANDIGARH' 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA'
 'ASSAM' 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'Gujarat' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'Goa' 'MEGHALAYA' 'GOA' 'TRIPURA' 'LADAKH' 'DADRA AND NAGAR'
 'SIKKIM' 'Delhi' nan 'ANDAMAN & NICOBAR ' 'Punjab' 'Rajshthan' 'Manipur'
 'rajasthan' 'Odisha' 'NL' 'Bihar' 'MIZORAM' 'punjab' 'New Delhi'
 'Rajasthan' 'Punjab/Mohali/Zirakpur' 'Puducherry' 'delhi' 'RJ'
 'Chandigarh' 'orissa' 'LAKSHADWEEP' 'goa' 'PB' 'APO' 'Arunachal Pradesh'
 'AR' 'Pondicherry' 'Sikkim' 'Arunachal pradesh' 'Nagaland' 'bihar'
 'Mizoram' 'rajsthan' 'Orissa' 'Rajsthan' 'Meghalaya']

In [6]:
print(df[df['ship-state'].isna()][['ship-city','ship-postal-code']])

       ship-city  ship-postal-code
1871         NaN               NaN
1872         NaN               NaN
8752         NaN               NaN
11215        NaN               NaN
13252        NaN               NaN
15688        NaN               NaN
16787        NaN               NaN
18351        NaN               NaN
22930        NaN               NaN
24986        NaN               NaN
30379        NaN               NaN
37963        NaN               NaN
37964        NaN               NaN
60986        NaN               NaN
63040        NaN               NaN
73675        NaN               NaN
73746        NaN               NaN
73771        NaN               NaN
73772        NaN               NaN
73911        NaN               NaN
80011        NaN               NaN
80092        NaN               NaN
80455        NaN               NaN
84008        NaN               NaN
84757        NaN               NaN
104201       NaN               NaN
106498       NaN               NaN
124215       NaN               NaN
124357       NaN               NaN
124358       NaN               NaN
124359       NaN               NaN
125385       NaN               NaN
126620       NaN               NaN

In [7]:
#Task 2: Cleaning the dataset and removing inconsistent and meaningless dataset

#Convert date from string type to datetime type
df['Date'] = pd.to_datetime(df['Date'], format = '%m-%d-%y');
# print(df['Date'].isna().sum())


# print(len(df['ship-state'].unique()))

address_df = df[~df['ship-country'].isna()]
# Data cleaned for addresses.

# print(len(address_df['ship-state'].unique())) 

#Updating missing values for amount column
df['Amount'] = df['Amount'].fillna(0)

df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [8]:
(df.isna().mean()*100).sort_values(ascending = False)

fulfilled-by          69.546811
promotion-ids         38.110487
Unnamed: 22           38.030626
currency               6.043807
Courier Status         5.328164
ship-country           0.025586
ship-postal-code       0.025586
ship-state             0.025586
ship-city              0.025586
Sales Channel          0.000000
Amount                 0.000000
Date                   0.000000
B2B                    0.000000
Status                 0.000000
Fulfilment             0.000000
ship-service-level     0.000000
Qty                    0.000000
Order ID               0.000000
ASIN                   0.000000
Size                   0.000000
Category               0.000000
SKU                    0.000000
Style                  0.000000
index                  0.000000
dtype: float64

In [9]:
fulfilled_df = df['fulfilled-by']
promotion_df = df['promotion-ids']

In [10]:
df[df['Courier Status'].isna()]['Status'].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer',
       'Shipped - Returned to Seller'], dtype=object)

In [11]:
df = df.drop(columns = ['currency', 'Unnamed: 22', 'ship-country','fulfilled-by', 'promotion-ids'])

In [12]:


df.loc[(df['Courier Status'].isna()) & (df['Status'] == 'Cancelled'), 'Courier Status'] = 'Cancelled'

In [13]:
df['Courier Status'] = df['Courier Status'].fillna('Shipped')

In [14]:
(df.isna().mean()*100).sort_values(ascending = False)

ship-postal-code      0.025586
ship-state            0.025586
ship-city             0.025586
index                 0.000000
Size                  0.000000
Amount                0.000000
Qty                   0.000000
Courier Status        0.000000
ASIN                  0.000000
Category              0.000000
Order ID              0.000000
SKU                   0.000000
Style                 0.000000
ship-service-level    0.000000
Sales Channel         0.000000
Fulfilment            0.000000
Status                0.000000
Date                  0.000000
B2B                   0.000000
dtype: float64